* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

@media (min-width: 320px) {
  .section__homepage {
    height: 120vh;
    flex-direction: column-reverse;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-end;
    background-color: whitesmoke;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 476px) {
  .section__homepage {
    align-items: center;
    padding: 2rem 7rem 10rem 1rem;
  }
}
@media (min-width: 617px) {
  .section__homepage {
    padding: 2rem 7rem 10rem 3rem;
  }
}
@media (min-width: 768px) {
  .section__homepage {
    justify-content: flex-start;
    flex-direction: row;
    padding: 0;
    align-items: center;
    padding: 2rem 2rem 2rem 2.5rem;
    min-height: 120vh;
  }
}
@media (min-width: 1000px) {
  .section__homepage {
    height: 120vh;
    padding: 3rem 2rem 0 10rem;
  }
}
@media (min-width: 320px) {
  .section__homepage::after {
    position: absolute;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    content: "";
    background-attachment: fixed;
    animation: mybackground 4s linear infinite;
    background-image: linear-gradient(45deg, #11152c, #1d1d20, #1d1d20, #11152c);
    background-size: 100% 1100%;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
  }
}
@media (min-width: 320px) {
  .section__homepage__first {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
  }
}
@media (min-width: 600px) {
  .section__homepage__first {
    padding: 2rem 1rem 2rem 0;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .section__homepage__first {
    width: 45%;
  }
}
@media (min-width: 320px) {
  .section__homepage__first h3 {
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 1rem;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .section__homepage__first h3 {
    font-size: 1.15rem;
    padding: 0.25rem;
  }
}
@media (min-width: 320px) {
  .section__homepage__first p {
    text-align: left;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 0.75rem;
    padding: 0;
    width: 100%;
  }
}
@media (min-width: 602px) {
  .section__homepage__first p {
    font-size: 0.9rem;
  }
}
@media (min-width: 1000px) {
  .section__homepage__first p {
    width: 100%;
    font-size: 1rem;
    padding: 0.25rem;
  }
}
@media (min-width: 320px) {
  .section__homepage__icon__container {
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 320px) {
  .section__homepage__image {
    padding: 0.5rem;
    margin: 0 0 2rem 0;
    display: flex;
    height: 15rem;
  }
}
@media (min-width: 668px) {
  .section__homepage__image {
    width: auto;
  }
}
@media (min-width: 678px) {
  .section__homepage__image {
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .section__homepage__image {
    height: 100%;
  }
}
@media (min-width: 1000px) {
  .section__homepage__image {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 320px) {
  .section__homepage__image__container {
    padding: 0rem;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 668px) {
  .section__homepage__image__container {
    width: 65%;
  }
}
@media (min-width: 768px) {
  .section__homepage__image__container {
    width: 60%;
  }
}
@media (min-width: 1000px) {
  .section__homepage__image__container {
    width: 45%;
    height: auto;
    margin-top: -2rem;
  }
}
@media (min-width: 1400px) {
  .section__homepage__image__container {
    margin-top: -4rem;
    height: auto;
    width: 35%;
  }
}
@keyframes mybackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@media (min-width: 320px) {
  .custom__colour {
    font-size: 1.1rem;
    color: #ffffd1;
    font-weight: 700;
  }
}
@media (min-width: 1000px) {
  .custom__colour {
    font-size: 1.25rem;
    height: auto;
  }
}

.homepage__icon {
  padding: 1rem 1.25rem 1rem 0;
  color: #ffffd1;
  font-size: 2.25rem;
  display: inline-block;
  position: relative;
}
@media (min-width: 320px) {
  .homepage__icon {
    font-size: 1.75rem;
    padding: 1rem 1.25rem 1rem 0;
    color: #ffffd1;
    margin: 1rem 0 0 0;
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1s infinite linear;
    -o-animation: bounce 1s infinite linear;
    -webkit-animation: bounce 1s infinite linear;
    animation: bounce 1s infinite linear;
  }
}
.homepage__icon:hover {
  color: white;
  padding: 1rem 1.5rem 1rem 0;
  font-size: 2.5rem;
  transition: all ease-in-out 0.15s;
}
@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

.togglednav:nth-child(2) {
  margin: 0.5rem 0 0.5rem 0;
}
@media (min-width: 320px) {
  .togglednav {
    width: 3rem;
    background-color: white;
    height: 0.35rem;
    border: solid white;
    border-radius: 0.25rem;
    display: flex;
    opacity: 1;
    transition: all ease-in-out 0.5s;
  }
}
@media (min-width: 768px) {
  .togglednav {
    display: none;
  }
}
@media (min-width: 320px) {
  .togglednav__container {
    justify-content: flex-end;
    padding: 1rem 0.5rem 0.25rem 0.5rem;
    display: flex;
    margin: 0rem 0 0 0;
    flex-direction: column;
    z-index: 9000;
  }
}
@media (min-width: 768px) {
  .togglednav__container {
    display: none;
  }
}
.togglednav.first {
  transition: all ease-in-out 0.5s;
  transform: rotate(45deg) translate(0.75rem, 0.85rem);
}
.togglednav.second {
  transition: all ease-in-out 0.5s;
  opacity: 0;
}
.togglednav.third {
  transition: all ease-in-out 0.5s;
  transform: rotate(-45deg) translate(0.4rem, -0.5rem);
}

@media (min-width: 320px) {
  .mynav {
    background-color: #1d1d20;
    display: flex;
    width: 100%;
    align-items: flex-start;
    z-index: 25;
    height: 3.75rem;
    border-bottom: solid #ffffe3 2px;
    position: fixed;
    z-index: 500;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .mynav {
    transition: all ease-in-out 1s;
    background-color: transparent;
    flex-direction: row;
    height: 0px;
    align-items: flex-start;
  }
}
@media (min-width: 320px) {
  .mynav.toggled {
    background-color: #1d1d20;
    border-top: none;
    height: auto;
    border-bottom: solid #ffffe3 2px;
    transition: all ease-in-out 1s;
  }
}
@media (min-width: 768px) {
  .mynav.toggled {
    transition: all ease-in-out 1s;
    height: 3.75rem;
  }
}
@media (min-width: 320px) {
  .mynav__list {
    display: none;
    list-style: none;
    width: 0;
    height: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all ease-in-out 0.5s;
    border-bottom: none;
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .mynav__list {
    height: 100%;
    margin: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    opacity: 1;
    transition: all ease-in-out 1s;
  }
}
@media (min-width: 320px) {
  .mynav__list.toggled {
    opacity: 1;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all ease-in-out 1s;
  }
}
@media (min-width: 320px) {
  .mynav__list li {
    padding: 0.75rem;
    width: 100%;
    background-color: #1d1d20;
    font-size: 1.35rem;
    box-shadow: 0 0 3px 0 #1d1d20;
  }
}
@media (min-width: 768px) {
  .mynav__list li {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 1rem;
  }
}
.mynav__anchor {
  color: whitesmoke;
  font-weight: 600;
  padding: 0.25rem;
  border-radius: 0.35rem;
  text-decoration: none;
}
.mynav__anchor.toggled {
  transition: all ease-in-out 0.5s;
  width: 100%;
  background-color: #ffffe3;
  color: #1d1d20;
}
.mynav__anchor:hover {
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.section__projects {
  background-color: #1d1d20;
  height: auto;
}
@media (min-width: 320px) {
  .section__projects {
    background-attachment: fixed;
    background-image: url("./app/images/rippleback.png");
    background-size: cover;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 968px) {
  .section__projects {
    padding: 0 0 5rem 0;
  }
}
@media (min-width: 1200px) {
  .section__projects {
    margin: 0;
    padding: 2rem 0 4rem 0;
  }
}
@media (min-width: 320px) {
  .section__projects__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 320px) {
  .section__projects__header {
    margin: 0;
    display: flex;
    color: whitesmoke;
    justify-content: center;
  }
}
@media (min-width: 450px) {
  .section__projects__header {
    padding: 3rem 0 3rem 0;
  }
}
@media (min-width: 768px) {
  .section__projects__header {
    padding: 3rem 0 3rem 0;
  }
}
@media (min-width: 900px) {
  .section__projects__header {
    font-size: 4rem;
    margin: 0;
    padding: 3rem 0 3rem 0;
    text-align: center;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .section__projects__header {
    box-shadow: 0 0 3px 0 gray;
    margin: 0rem 0 5rem 0;
  }
}
@media (min-width: 320px) {
  .section__projects__allprojects {
    padding: 0;
  }
}
@media (min-width: 968px) {
  .section__projects__allprojects {
    padding: 3rem 0 0 4rem;
    margin: 1rem 0 1rem 0;
  }
}
@media (min-width: 768px) {
  .section__projects__allprojects.second {
    margin: 5rem 0 3rem 0;
  }
}

@media (min-width: 320px) {
  .project__one {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  .project__one {
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0rem 0;
  }
}
@media (min-width: 950px) {
  .project__one {
    justify-content: flex-start;
    position: relative;
    flex-direction: row;
    margin: 2rem 0 2rem 0;
  }
}
.project__one__title {
  width: 100%;
  display: flex;
}
@media (min-width: 320px) {
  .project__one__text {
    width: 100%;
    position: relative;
    margin: 0;
    border-radius: 0;
    padding: 5rem 0rem 0 2rem;
    background-color: #ffffe3;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .project__one__text {
    border-radius: 0.35rem;
    width: 75%;
  }
}
@media (min-width: 968px) {
  .project__one__text {
    padding: 2.5rem 2rem 1rem 2rem;
    border-radius: 0.55rem;
    z-index: 10;
    width: 55%;
    height: 80%;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (min-width: 1024px) {
  .project__one__text {
    width: 50%;
  }
}
@media (min-width: 320px) {
  .project__icon {
    display: flex;
    color: #ffffe3;
    align-items: center;
    padding: 0 2rem 0 0.5rem;
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  .project__icon {
    font-size: 5rem;
  }
}
.project__icon:hover {
  color: none;
  font-size: 6rem;
}

@media (min-width: 320px) {
  .project__image {
    height: 100%;
    position: relative;
    top: 0;
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    transform: none;
    left: 0;
  }
}
@media (min-width: 768px) {
  .project__image {
    width: 60%;
    margin-bottom: -2.5rem;
    margin-left: 2rem;
    box-shadow: 0 0 3px 0 gray;
    border-radius: 0.35rem;
  }
}
@media (min-width: 968px) {
  .project__image {
    position: absolute;
    left: 0;
    width: 50%;
    height: auto;
    transform: translate(-3rem, -5rem) scale(1.2);
    transition: all ease-in-out 1s;
    align-items: flex-start;
    opacity: 0;
    z-index: 50;
  }
}
@media (min-width: 1100px) {
  .project__image {
    width: 40%;
    transform: translate(-3rem, -5rem) scale(1.15);
  }
}
@media (min-width: 320px) {
  .project__image__gif {
    width: 100%;
    border-radius: 0;
    z-index: 50;
  }
}
@media (min-width: 960px) {
  .project__image__gif {
    width: 100%;
    border-radius: 0.35rem;
  }
}
.project__image:hover::after {
  transition: all 0.55s ease-in-out;
  height: 0%;
  background-color: black;
  opacity: 0;
}
@media (min-width: 320px) {
  .project__header {
    color: #2b2b2b;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .project__header {
    font-size: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
}
@media (min-width: 320px) {
  .project__header__title {
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem 0 2rem 0;
    letter-spacing: 2px;
  }
}
@media (min-width: 768px) {
  .project__header__title {
    font-size: 3.4rem;
  }
}
@media (min-width: 968px) {
  .project__header__title {
    font-size: 4rem;
    letter-spacing: 2px;
  }
}
@media (min-width: 1200px) {
  .project__header__title {
    font-size: 3.5rem;
    border-bottom: solid #ffffd1 8px;
  }
}
.project__header__line {
  display: flex;
  height: 0;
  align-self: center;
  flex-grow: 0.75;
  border: solid #2b2b2b;
}
.project__header__divider {
  display: flex;
  height: 0;
  align-self: center;
  flex-grow: 1;
  border: solid #ffffe3;
  display: none;
}
.project__header__divider.first {
  display: none;
}
@media (min-width: 320px) {
  .project__description {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .project__description {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .project__description {
    width: 75%;
    flex-wrap: wrap;
  }
}
.project__description.almadina {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .project__description__about {
    width: 75%;
    padding: 0rem 0rem 1rem 0;
  }
}
.project__description__container__item {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 320px) {
  .project__description__item {
    color: #2b2b2b;
    font-weight: 500;
    margin: 0.25rem 0.15rem 0.15rem 0;
    border-radius: 0.35rem;
    background-color: #2b2b2b;
    color: whitesmoke;
    padding: 0.35rem;
  }
}
@media (min-width: 968px) {
  .project__description__item {
    padding: 0.5rem;
    height: auto;
  }
}
.project__description__item:hover {
  background-color: #ffffd1;
  color: #2b2b2b;
}
.project__button {
  margin: 1rem 0 1.5rem 0;
  display: flex;
  height: 2.5rem;
  box-shadow: 0 0 4px 0 gray;
  border: none;
  color: #ffffd1;
  width: 7rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  z-index: 5;
  border-radius: 0.25rem;
  position: relative;
}
.project__button.resume {
  margin: 1.5rem 0 1.5rem 0;
  padding: 0.5rem;
  height: 2rem;
  font-size: 0.5rem;
  width: auto;
}
.project__button::after {
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  border: none;
  left: 0;
  color: #ffffd1;
  content: "";
  display: flex;
  width: 0;
  height: 80%;
  background-color: whitesmoke;
  opacity: 0;
}
.project__button a {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 1rem;
}
.project__button:hover::after {
  transition: all ease-in-out 0.35s;
  width: 100%;
  height: 100%;
  color: #ffffd1;
  border: solid #1d1d20 2px;
  background-color: #1d1d20;
  opacity: 1;
}
.project__button.resume:hover::after {
  border: none;
  box-shadow: 0 0 3px 0 gray;
  background-color: #ffffd1;
}
.project__button:hover > a {
  z-index: 5;
  color: #ffffd1;
}
.project__button.resume:hover > a {
  color: #1d1d20;
}

.about__title {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 320px) {
  .about__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 320px) {
  .about__paragraph {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) {
  .about__paragraph {
    margin: 0.5rem 0 0.5rem 0;
  }
}
@media (min-width: 320px) {
  .about__container {
    width: 100%;
    height: auto;
    border-radius: 0.35rem;
    padding: 1.25rem;
    position: relative;
    z-index: 5;
  }
}
@media (min-width: 320px) {
  .about__container h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    color: whitesmoke;
    padding: 0.5rem 0 0.5rem 0;
  }
}
@media (min-width: 768px) {
  .about__container h1 {
    font-size: 2rem;
  }
}
@media (min-width: 320px) {
  .about__container p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
    color: whitesmoke;
  }
}
.about__container.toggled h1, .about__container.toggled p {
  margin: 0.5rem 0 0.5rem 0;
  color: #1d1d20;
  transition: all ease-in-out 1s;
}
.about__container__span {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 0;
  border-radius: 0.35rem;
  box-shadow: 0 0 3px 0 gray;
  transition: all ease-in-out 1.25s;
}
.about__paragraph {
  color: whitesmoke;
}
.about__icon {
  color: #1d1d20;
}
.about__icon:hover {
  color: #1d1d20;
}

@media (min-width: 320px) {
  .section__about {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 0;
    width: 100%;
    background-color: whitesmoke;
  }
}
@media (min-width: 900px) {
  .section__about {
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding: 4rem;
  }
}
.section__about__card {
  margin: 0.5rem 0 0.5rem 0;
}
@media (min-width: 320px) {
  .section__about__card {
    width: 100%;
    margin: 1rem 0 1rem 0;
    display: flex;
    box-shadow: 0 0 3px 0 #1d1d20;
    background-color: whitesmoke;
    padding: 1rem;
  }
}
@media (min-width: 568px) {
  .section__about__card {
    width: 45%;
    height: 10rem;
    border-radius: 0.35rem;
  }
}
@media (min-width: 900px) {
  .section__about__card {
    width: 100%;
    box-shadow: 0 0 3px 0 lightgrey;
  }
}
.section__about__card i, .section__about__card p {
  color: #1d1d20;
}
@media (min-width: 320px) {
  .section__about__card.toggled {
    z-index: 25;
    transition: all ease-in 1s;
    background-color: #1d1d20;
  }
}
.section__about__card.toggled i, .section__about__card.toggled p {
  color: whitesmoke;
}
.section__about__card__span {
  background-color: #1d1d20;
  z-index: -2;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 0;
  border-radius: 0.35rem;
  transition: all ease-in-out 1s;
}
@media (min-width: 320px) {
  .section__about__container__description {
    width: 100%;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.35rem 0.35rem 0 0;
    justify-content: center;
    position: relative;
    transition: all ease-in-out 2s;
    z-index: 5;
  }
}
@media (min-width: 490px) {
  .section__about__container__description {
    padding: 2rem 2rem 2rem 2rem;
    width: 100%;
  }
}
@media (min-width: 900px) {
  .section__about__container__description {
    background-color: whitesmoke;
    justify-content: start;
    transition: all ease-in-out 1.25s;
    width: 50%;
    border-radius: 0.35rem;
    padding: 2rem 0.5rem 2rem 0.5rem;
  }
}
@media (min-width: 1200px) {
  .section__about__container__description {
    margin-left: -0.5rem;
    width: 40%;
    box-shadow: 0 0 3px 0 #1d1d20;
  }
}
.section__about__container__description.toggled h1 {
  transition: all ease-in-out 2s;
  color: black;
}
@media (min-width: 320px) {
  .section__about__container__personal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: space-between;
  }
}
@media (min-width: 500px) {
  .section__about__container__personal {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 900px) {
  .section__about__container__personal {
    width: 35%;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: column;
  }
}

.technology__list {
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  justify-content: space-between;
  display: flex;
}
.technology__list li:first-child {
  opacity: 0;
}
@media (min-width: 320px) {
  .technology__list li {
    padding: 0.25rem;
    color: black;
    font-weight: 700;
    font-size: 0.65rem;
    list-style: none;
  }
}

@media (min-width: 320px) {
  .technology__language__wrapper {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0;
  }
}
@media (min-width: 900px) {
  .technology__language__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    left: 0;
    height: auto;
    background-color: #1d1d20;
    position: absolute;
    transition: all ease-in-out 1.25s;
    z-index: -1;
    border-radius: 0.35rem;
    padding: 2rem 0 0.5rem 0;
  }
}
@media (min-width: 320px) {
  .technology__header {
    color: whitesmoke;
    text-transform: uppercase;
    text-align: left;
    padding: 2rem 0 1rem 0.5rem;
    font-size: 2rem;
    text-align: center;
    transition: all ease-in-out 2s;
  }
}
@media (min-width: 900px) {
  .technology__header {
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
  }
}
@media (min-width: 1200px) {
  .technology__header {
    font-size: 2rem;
  }
}
@media (min-width: 320px) {
  .technology__name {
    display: flex;
    background-color: whitesmoke;
    color: #1d1d20;
    border: none;
    height: 2.5rem;
    padding: 0.6rem;
    font-weight: 700;
    width: 20%;
    border-radius: 0.35rem 0 0 0.35rem;
    margin-bottom: 0;
    font-size: 0.5rem;
    text-transform: uppercase;
    box-shadow: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (min-width: 500px) {
  .technology__name {
    box-shadow: 0 0 2px 0 gray;
    font-size: 0.7rem;
  }
}
@media (min-width: 768px) {
  .technology__name {
    font-size: 0.85rem;
  }
}
@media (min-width: 900px) {
  .technology__name {
    font-size: 0.65rem;
    height: 100%;
  }
}
@media (min-width: 320px) {
  .technology__language {
    display: flex;
    width: 100%;
    height: 2.5rem;
    border-radius: 0;
    background-color: #e4e4e4;
    position: relative;
    align-items: center;
  }
}
@media (min-width: 1000px) {
  .technology__language {
    height: 100%;
    border-radius: 0 0.35rem 0.35rem 0;
  }
}
@media (min-width: 320px) {
  .technology__language__container {
    display: flex;
    width: 100%;
    height: 2.5rem;
    margin: 1rem 0 1rem 0;
    border-radius: 0;
    background-color: #e4e4e4;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem 0.75rem 0.75rem 0.5rem;
  }
}
@media (min-width: 390px) {
  .technology__language__container {
    padding: 0;
    border-radius: 0.35rem;
    width: 90%;
  }
}
.technology__language__relative {
  top: 0;
}
@media (min-width: 320px) {
  .technology__language__relative {
    position: relative;
    height: 100%;
    width: 0;
    background-color: #9dbbff;
    transition: all ease-in-out 1.25s;
    height: 100%;
  }
}
@media (min-width: 900px) {
  .technology__language__relative {
    border-radius: 0 0.35rem 0.35rem 0;
  }
}
.technology__language__relative.html, .technology__language__relative.javascript {
  width: 100%;
  animation: progressbar ease-in-out 6s;
  transition: all ease-in-out 1s;
}
.technology__language__relative.postgresql, .technology__language__relative.sql, .technology__language__relative.nodejs, .technology__language__relative.reactjs, .technology__language__relative.php {
  width: 42%;
  animation: progressbar ease-in-out 4s;
  transition: all ease-in-out 1s;
}
.technology__language__relative.csharp {
  width: 10%;
  animation: progressbar ease-in-out 4s;
  transition: all ease-in-out 1s;
}
@media (min-width: 320px) {
  .technology__language__relative::after {
    position: absolute;
    top: -90%;
    background-color: black;
    right: 0;
    box-shadow: 0 0 3px 0 gray;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    height: 2.25rem;
    transform: translate(-20%, 30%);
    width: 2.75rem;
    font-size: 0.55rem;
    color: whitesmoke;
    justify-content: center;
    align-items: baseline;
  }
}
.technology__language__relative.postgresql::after, .technology__language__relative.sql::after, .technology__language__relative.nodejs::after, .technology__language__relative.reactjs::after, .technology__language__relative.php::after {
  content: "8 months";
}
.technology__language__relative.html::after, .technology__language__relative.javascript::after {
  content: "2 years";
}
.technology__language__relative.csharp::after {
  content: "3 months";
}
.technology__language__blur {
  position: absolute;
  top: 0;
  height: 100%;
  width: inherit;
  left: 0;
  align-self: center;
  display: flex;
  width: 100%;
  border-radius: 0 0.35rem 0.35rem 0;
  transition: all ease-in-out 0.5s;
  animation: blur__effect ease-in-out 1s infinite;
}

@keyframes progressbar {
  0% {
    box-shadow: 0 0 15px 0 #004374;
    opacity: 1;
    width: 0;
  }
  50% {
    box-shadow: 0 0 5px 0 #004374;
    opacity: 0.75;
  }
  100% {
    box-shadow: 0 0 0px 0 #004374;
    opacity: 1;
    transition: all ease-in-out 0.5s;
  }
}
@keyframes blur__effect {
  0% {
    box-shadow: 0 0 9px 0 #ffffd8;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 5px 0 #ffffcb;
    opacity: 0.75;
  }
  100% {
    box-shadow: 0 0 2px 0 #ffffd8;
  }
}
@media (min-width: 320px) {
  .section__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 320px) {
  .section__contact__second {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .section__contact__second {
    flex-direction: row;
  }
}

.section__contact {
  background-color: whitesmoke;
}
@media (min-width: 320px) {
  .section__contact__container__form {
    width: 100%;
    padding: 4rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffd1;
    align-items: flex-start;
  }
}
@media (min-width: 320px) {
  .section__contact__container__text {
    width: 100%;
    padding: 3rem 2rem 2rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 0.5rem 0 0 0.5rem;
    position: relative;
  }
}
@media (min-width: 768px) {
  .section__contact__container__text {
    border-radius: 0;
    padding: 1.5rem 0 1.5rem 4rem;
  }
}
@media (min-width: 968px) {
  .section__contact__container__text {
    border-radius: 0;
    padding: 5rem 0 7rem 5rem;
  }
}
.section__contact__container__text::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border: none;
  display: flex;
  width: 100%;
  height: 100%;
  clip-path: polygon(93% 26%, 100% 18%, 100% 35%);
  background-color: #ffffd1;
}

.myform {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5rem;
  justify-content: center;
}
@media (min-width: 320px) {
  .myform {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media (min-width: 968px) {
  .myform {
    padding: 0 0 0 5rem;
  }
}
@media (min-width: 320px) {
  .myform__input {
    padding: 0.5rem;
    width: 100%;
    border: solid black 1px;
    border-radius: 0.25rem;
    margin: 0.5rem;
    color: black;
    font-weight: 700;
    background-color: #ffffd1;
  }
}
@media (min-width: 768px) {
  .myform__input {
    width: 90%;
    box-shadow: 0 0 3px 0 gray;
  }
}
@media (min-width: 968px) {
  .myform__input {
    width: 50%;
    box-shadow: 0 0 3px 0 gray;
  }
}
.myform__input:focus {
  outline: none;
  border: solid black 2px;
}
.myform__input.message {
  height: 30%;
}
@media (min-width: 320px) {
  .myform__input.message {
    height: 40%;
    resize: none;
  }
}
@media (min-width: 968px) {
  .myform__input.message {
    height: 40%;
    resize: none;
  }
}
@media (min-width: 320px) {
  .myform__button {
    margin: 0.5rem;
    background-color: #1d1d20;
    border: none;
    border-radius: 0.35rem;
    color: whitesmoke;
    align-self: flex-start;
    height: 2rem;
    width: 5rem;
  }
}
@media (min-width: 468px) {
  .myform__button {
    height: 2.5rem;
  }
}
@media (min-width: 768px) {
  .myform__button {
    height: 3rem;
  }
}
@media (min-width: 968px) {
  .myform__button {
    height: 2.5rem;
  }
}

@media (min-width: 320px) {
  .contact__icon {
    padding: 0 1rem 0 0rem;
    font-size: 1rem;
  }
}
@media (min-width: 968px) {
  .contact__icon {
    font-size: 1.75rem;
  }
}
@media (min-width: 320px) {
  .contact__icon__text {
    font-size: 1rem;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0rem 1rem 0 0;
    padding: 0.75rem 0 0.5rem 0;
  }
}
@media (min-width: 320px) {
  .contact__header {
    font-size: 3rem;
    font-weight: 700;
  }
}
@media (min-width: 420px) {
  .contact__header {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .contact__header {
    font-size: 2.5rem;
  }
}

.section__footer {
  background-color: #1d1d20;
  display: flex;
  flex-direction: column;
}
.section__footer__content {
  padding: 5rem 3rem 3rem 3rem;
}

.footer__divider {
  padding: 0.5rem;
  color: whitesmoke;
  height: 40%;
  display: flex;
  align-items: baseline;
}
.footer__icon {
  width: 100%;
  justify-content: center;
  display: flex;
}
.footer__icon i {
  padding: 0rem;
  margin: 0rem 0.75rem 0 0.75rem;
}
.footer__icon i:hover {
  padding: 0 0rem 0 0rem;
  font-size: 1.75rem;
  margin: 0 1rem 0 1rem;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  background-color: #26262b;
  width: 100%;
  padding: 0.5rem;
}
.footer__copyright p, .footer__copyright span {
  color: whitesmoke;
  font-size: 0.85rem;
}
.footer__links {
  align-items: center;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}
.footer__links p {
  font-size: 0.75rem;
  color: whitesmoke;
}
.footer__links a {
  color: whitesmoke;
  text-decoration: none;
}
.footer__links a:visited {
  color: white;
}
.footer__about {
  padding: 0.5rem 0 0.5rem 0;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
