.about{
    
    &__title{
        @media(min-width:320px){
            font-size: 1.25rem;
        }
        font-size: 1.5rem;
        font-weight: 700;
        transition: all ease-in-out 1s;
        //color:#1d1d20;
        //color: whitesmoke;
    }
    &__paragraph{
        @media(min-width:320px){
            font-size: 0.9rem;
            transition: all ease-in-out 1s;
        }
        @media(min-width:768px){
            margin: 0.5rem 0 0.5rem 0;

        }
    }
    &__container{
        @media(min-width:320px){
            width: 100%;
            height: auto;
            border-radius: 0.35rem;
            padding: 1.25rem;
            position: relative;
            z-index: 5;
        }
        @media(min-width:768px){

        }
        @media(min-width:768px){
        }
        
        & h1 {
            @media(min-width:320px){
                font-size: 1.5rem;
                font-weight: 700;
                text-align: left;
                color: whitesmoke;
                padding: 0.5rem 0 0.5rem 0;
            }
            @media(min-width:768px){
                font-size: 2rem;
            }
            
        }
        & p {
            @media(min-width:320px){
                font-size: 0.9rem;
                font-weight: 400;
                line-height: 1.5rem;
                text-align: left;
                color: whitesmoke;

            }
        }
        &.toggled{
            & h1, p{
                margin: 0.5rem 0 0.5rem 0;
                color:#1d1d20;
                transition: all ease-in-out 1s;
                
            }

        } 
     
        &__span{
            z-index: -1;
            position: absolute;
            top: 0;
            width: 100%;
            left:0;
            height: 0;
            border-radius: 0.35rem;
            box-shadow: 0 0 3px 0 gray;
            transition: all ease-in-out 1.25s;
        }

}
    &__paragraph{
        color: whitesmoke;
    }
    &__icon{
        color: #1d1d20;
    &:hover{
        color: #1d1d20;

    }}
}

.section__about{
    @media(min-width:320px){
        background-image: url('./app/images/rippleabout.png');
        display: flex;
        flex-direction: column;
        padding: 0;
        border-radius: 0;
        width: 100%;
        background-color: whitesmoke;
    }
    @media(min-width:768px){

    }
    @media(min-width:900px){
        background-attachment: fixed;
        background-size: cover;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
        padding: 5rem;

    }
&__card{
    @media(min-width:320px){
        width: 100%;
        margin: 1rem 0 1rem 0;
        display: flex;
        box-shadow: 0 0 3px 0 #1d1d20;
        background-color: whitesmoke;
        padding: 1rem;
        position: relative;

    }
    @media(min-width:568px){
        width: 45%;
        height: 10rem;
        border-radius: 0.35rem;
    }
    @media(min-width:900px){
width: 100%;
box-shadow: 0 0 3px 0 lightgrey;

    }
    margin: 0.5rem 0 0.5rem 0;
    & i,p{
        color: #1d1d20;
    }
&.one{
    @media(min-width:320px){
        z-index: 25;
        transition: all ease-in 1s;
        background-color:  #1d1d20;

    }
    @media(min-width:768px){
        //height: 100%;
    }
& i, p{
    z-index: 25;
    color: whitesmoke;
}
}
&.two{
    @media(min-width:320px){
        z-index: 25;
        transition: all ease-in 1s;
        background-color:  whitesmoke;

    }
    @media(min-width:768px){
        //height: 100%;
    }
& i, p{
    z-index: 25;
    color: #1d1d20;
}
}

    &__information{ 
    }
    &__span{
        z-index: -10;
        position: absolute;
        top: 0;
        width: 100%;
        left:0;
        height: 0;
        border-radius: 0.35rem;
        //box-shadow: 0 0 3px 0 gray;
        transition: all ease-in-out 1s;
    &.one{

        background-color: whitesmoke;
        top: 0;
    }
    &.two{
        background-color: #1d1d20;

    }
    }

}
&__container{

&__description{
    @media(min-width:320px){
        box-shadow: 0 0 3px 0 #1d1d20;
        width: 100%;
        padding: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0.35rem 0.35rem 0 0;
        justify-content: center;
        position: relative;
        transition: all ease-in-out 2s;
        //box-shadow: 0 0 3px 0 #1d1d20;
        z-index: 5;
        background-color: #1d1d20;
        margin: 0.5rem 0 0.5rem 0;
    }
    @media(min-width:490px){
        padding: 2rem 2rem 2rem 2rem;
        width: 100%;
    }
    @media(min-width:769px){
    }
    @media(min-width:900px){
        background-color: whitesmoke;
        justify-content: start;
        transition: all ease-in-out 1.25s;
        width: 50%;
        height: 100%;
        margin :0;
        border-radius: 0.35rem;
        padding: 2rem 0.5rem 7.5rem 0.5rem;
    }
    @media(min-width:1200px){
        margin:0;
        width: 40%;
        height: 100%;
}
    //background-color: #1d1d20;
    

}
&__personal{
    @media(min-width: 320px){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        align-items: flex-end;
        justify-content: space-between;
    }
    @media(min-width:500px){
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    @media(min-width:900px){
        width: 35%;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: flex-end;
        flex-direction: column;  
    }
}
}

}

.technology__list{
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    justify-content: space-between;
    display: flex;
    & li:first-child{
        opacity: 0;
    }
& li {
    @media(min-width:320px){
        padding: 0.25rem;
        color: black;
        font-weight: 700;
        font-size: 0.65rem;
        list-style: none;
    }

}
}

.technology{
    &__language__wrapper{
        @media(min-width:320px){
            width: 100%;
            padding: 0.5rem;
            border-radius: 0;
        }
        @media(min-width:390px){
        }
        //border-radius: 0.5rem;
        @media(min-width:900px){
            display: flex;
            top:0;
            height: 0px;
            left:0;
            //background-color: #1d1d20;
            position: absolute;
            transition: all ease-in-out 1.25s;
            z-index: -1;
            //padding: 2rem 0.5rem 10rem 0.5rem;
            margin: 0;
            border-radius: 0.35rem;
        }
    }
    &__header{
        @media(min-width:320px){
            color: whitesmoke;
            text-transform: uppercase;
            text-align: left;
            padding: 2rem 0 1rem 0.5rem;
            font-size: 2rem;
            text-align: center;
            transition: all ease-in-out 2s;
            }
            @media(min-width:900px){
                font-size: 2rem;
                color: #1d1d20;
                padding: 1rem 0 1rem 0;
            }
            @media(min-width:1200px){
                font-size: 2rem;
            }
    }
    &__name{
        @media(min-width:320px){
            display: flex;
            background-color: whitesmoke;
            color: #1d1d20;    
            border: none;
height: 2.5rem;
padding: 0.6rem;
font-weight: 700;
width: 20%;    
border-radius: 0.35rem 0 0 0.35rem;
margin-bottom: 0;
font-size: 0.5rem;
text-transform: uppercase;
box-shadow: 0;
align-items: center;
justify-content: center;
text-align: center;
        }

        @media(min-width:500px) {
            box-shadow: 0 0 2px 0 gray;
            font-size: 0.70rem;
        }

        @media(min-width:768px){    
            font-size: 0.85rem;
        }
        @media(min-width:900px){
            font-size: 0.65rem;
            height: 100%;
        }
    }
  
    &__language{
        @media(min-width:320px){
            display: flex;
            width: 100%;
            height: 2.5rem;
            border-radius: 0;
            background-color: #e4e4e4;
            position: relative;
            align-items: center;
        }
        
        @media(min-width: 1000px){
            height: 100%;
            border-radius: 0 0.35rem 0.35rem 0;
        }
        &__container{
             @media(min-width:320px){
            display: flex;
            width: 100%;
            height: 2.5rem;
            margin: 1rem 0 1rem 0;
            border-radius: 0;
            background-color: #e4e4e4;
            position: relative;
            align-items: center;
            justify-content: flex-start;
            padding: 0.75rem 0rem 0.75rem 0rem;
        }
        @media(min-width:390px){
            padding: 0;
            border-radius: 0.35rem;
            width: 90%;
        }
        @media(min-width:900px){
        }
        }
        
    &__relative{
        @media(min-width:320px){
            position: relative;
            height: 100%;
            width: 0;
            background-color: #9dbbff;
                    transition: all ease-in-out 1.25s;      
            height: 100%;
        }
        @media(min-width: 900px){
            border-radius: 0 0.35rem 0.35rem 0;
        }
        top: 0;
        //background-color:  #004374;
        &.html, &.javascript{
            width: 100%;
            animation: progressbar ease-in-out 6s;
            transition: all ease-in-out 1s;
        }
        &.postgresql, &.sql, &.nodejs, &.reactjs, &.php{
            width: 42%;
            animation: progressbar ease-in-out 4s;
            transition: all ease-in-out 1s;
        }
        &.csharp{
            width: 10%;
            animation: progressbar ease-in-out 4s;
            transition: all ease-in-out 1s;

        }
        
    &::after{
        @media(min-width:320px){
            position: absolute;
            top: -90%;
            background-color: black;
            right: 0;
            box-shadow: 0 0 3px 0 gray;
            display: flex;
            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
            height: 2.25rem;
            transform: translate(-20%, 30%);
            width: 2.75rem;
            font-size: 0.55rem;
            color: whitesmoke;
            justify-content: center;
            align-items: baseline;
    
        }        
    }
    &.postgresql::after, &.sql::after, &.nodejs::after, &.reactjs::after, &.php::after{
        content: '8 months';
    }
    &.html::after,&.javascript::after{
        content: "2 years";
    }
    &.csharp::after{
        content: "3 months";
    }
}
    &__blur{
        position: absolute;
        top: 0;
        height: 100%;
        //background-color:  #ffffbc;
        width: inherit;
        left: 0;
        align-self: center;
        display: flex;
        width: 100%;
        //background:#417597;
        border-radius: 0 0.35rem 0.35rem 0;
        transition: all ease-in-out 0.5s;
        //clip-path: circle(50% at 50% 50%);
        //border-radius: 0 0.5rem 0.5rem 0;
        animation: blur__effect ease-in-out 1s infinite;
    }
    }
}

@keyframes progressbar{
    0%{
        box-shadow: 0 0 15px 0 #004374;
        opacity: 1;

        width: 0;
    }
    50%{
        box-shadow: 0 0 5px 0#004374;

        opacity: 0.75;
    
    }

    
    100%{
        box-shadow: 0 0 0px 0 #004374;

        opacity: 1;
        transition: all ease-in-out 0.5s;

    }
}
@keyframes blur__effect{
    0%{
        box-shadow: 0 0 9px 0 #ffffd8;
        opacity: 1;
    }
   50%{
    box-shadow: 0 0 5px 0#ffffcb;

    opacity: 0.75;

   }
    
    100%{
        box-shadow: 0 0 2px 0#ffffd8;
  

    }
}
