.section__contact{
    @media(min-width:320px){
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    @media(min-width:968px){

    }


&__second{
    @media(min-width:320px){
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        //box-shadow: 0 0 3px 0 #6b6767;
    }
    @media(min-width:768px){
        flex-direction: row;
    }
}
}


.section__contact{
    background-color: whitesmoke;
    &__container{

        &__form{
            @media(min-width:320px){
                width: 100%;
                padding: 4rem 1rem 4rem 1rem;
            display: flex;
            flex-direction: column;
            background-color: #ffffd1;
            align-items: flex-start;
    
            }
                }
    &__text{
        @media(min-width:320px){
            width: 100%;
            padding: 3rem 2rem 2rem 2rem;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 0.5rem 0 0 0.5rem;  
            position: relative;
        }
        @media(min-width:768px){
            border-radius: 0;
            padding: 1.5rem 0 1.5rem 4rem;
        }
        @media(min-width:968px){
            border-radius: 0;
            padding: 5rem 0 7rem 5rem;
        }
    &::after{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        border: none;
        display: flex;
        width: 100%;
        height: 100%;
        clip-path: polygon(93% 26%, 100% 18%, 100% 35%);
        background-color: #ffffd1;

    }}
}
}
.myform{
    @media(min-width:320px){
        padding: 0;
            width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    }
    @media(min-width:968px){

padding: 0 0 0 5rem;
    }
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5rem;
    justify-content: center;
&__input{
    @media(min-width:320px){
        padding: 0.5rem;
        width: 100%;
        border: solid black 1px;
        border-radius: 0.25rem;
        //border: solid white 2px;
        margin: 0.5rem;
        color: black;
        font-weight: 700;
        background-color: #ffffd1;
        
    }
    @media(min-width:768px){
        width: 90%;
        box-shadow: 0 0 3px 0 gray;
    }
    @media(min-width:968px){
        width: 50%;
        box-shadow: 0 0 3px 0 gray;
    }
    //background-color: #1d1d20;
&:focus{
    outline: none;
    border: solid black 2px;
}
&.message{
    height: 30%;
}
}
&__button{
    @media(min-width:320px){

    }
    @media(min-width:968px){
    }

    margin: 0.5rem;
background-color:  #1d1d20;
border: none;
border-radius: 0.35rem;
color: whitesmoke;
    align-self: flex-start;
    height: 2rem;
    width: 5rem;
}
}
.contact{
    &__icon{
        padding: 0 1rem 0 0rem;
    &__text{
        font-size: 1rem;
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0rem 1rem 0 0;
        padding: 0.75rem 0 0.5rem 0;

    }
}
&__header{
    @media(min-width:320px){
        font-size: 3.5rem;
    font-weight: 700;
    }
    @media(min-width:768px){
        font-size: 2.5rem;
    }
}
}