.section__projects{
    background-color: #1d1d20;
    height: auto;
    background-attachment: fixed;
    background-image: url('./app/images/rippleback.png');
 padding: 4rem 0 4rem 0;
&__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
&__header{
    margin: 2rem 0 2rem 0;
    display: flex;
    font-size: 2rem;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 4rem 0 3rem 0;
}
&__allprojects{
padding: 3rem 0 0 3rem;
&.second{
    //border-top: solid white 2px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
}
}

.project{
    &__one{
        justify-content: space-between;
        display: flex;
        width: 100%;
        padding: 3rem 3rem 3rem 4rem;
        position: relative;
        z-index: 1;
        &__title{
            width: 100%;
            display: flex;
        }
    &__text{
        position: relative;
        background-color: #ffffe3;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 4px 0 #141212;
        align-items: flex-start;
        justify-content: flex-start;
        width: 40%;
        height: 100%;
        padding:  3rem 0rem 0 2rem;
        border-radius: 0.55rem;
        z-index: 10;
        &.almadina{
            padding: 2rem 0 0 4rem;
            width: 50%;
            align-items: flex-start;
            justify-content: center;
        }

}
    }

}

.mylaptop{
    width: 80%;
}
.project{
    &__image{
        height: 80%;
        position: absolute;
        display: flex;
        justify-content: flex-start;
        width: 45%;
        left: 2%;
        //left:3%;
        z-index: 5;
        padding:  3rem 0rem 0 2rem;
        top:0;
        left: 3%;
        transform: translate(-5rem, -5rem);
        align-items: flex-start;
        transition: all ease-in-out 0.25s;
        &.instachatter{
            //transform: translate(-2rem, 0rem);
            transition: all ease-in-out 1s;
        }
        &__gif{
            box-shadow: 0 0 3px 0 #1d1d20;
            border-radius: 0.65rem;
            width: 100%;
            height: 100%;
        }
        &__item{
        }
        &__two{
            transform: translate(-5rem, -5rem);
            width: 60%;
            z-index: 20;
            display: flex;
            flex-direction: column;
        
    }
&:hover::after{
    transition: all 0.55s ease-in-out;
    height: 0%;
    background-color: black;
    opacity: 0;
}
}
    &__header{
        width: auto;
        line-height: 3.5rem;
        font-size: 2rem;
        color: #2b2b2b;
        font-weight: 700;
        text-align: left;
        
        margin: 0 0.5rem 0 0;
        &__title{
            font-size: 3.75rem;
            font-weight: 700;
            letter-spacing: 2px;
            padding: 0rem 0.75rem 0rem 0.75rem; 
        }
        &__line{
            display: flex;
            height: 0;
            align-self: center;
            flex-grow: 0.75;
            border: solid #2b2b2b;
        }
        &__divider{
            display: flex;
            height: 0;
            align-self: center;
            flex-grow: 1;
            border: solid #ffffe3;
        }

}
    &__description{
        text-align: start;
        width: 85%;
        color: #2b2b2b;
        font-weight: 500;
        padding: 1rem 0 1.25rem 0;
    &__item{
        background-color: #2b2b2b;
        color: whitesmoke;
        padding: 0.35rem;
        border-radius: 0.3rem;
    &:hover{
        background-color: #ffffd1;
        color: #2b2b2b;
    }}
    }
    &__button{
        margin: 1rem 0 1.5rem 0;
        display: flex;
        height: 2.5rem;
        box-shadow: 0 0 4px 0 gray;
        border: none;
        color: #ffffd1;
        width: 7rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
        z-index: 5;
        border-radius: 0.25rem;
        position: relative;
        &.resume{
            margin: 1.5rem 0 1.5rem 0;
            box-shadow: none;
            padding: 0.5rem;
            height: 2rem;
            font-size: 0.5rem;
            width: auto;
      }
        
        &::after{
            border-radius: 0.25rem;
            position: absolute;
            top: 0;
            border: none;   
            left:0;
            color: #ffffd1;
            content: "";
            display: flex;
            width: 0;
            height: 80%;
            background-color: whitesmoke;
            opacity:0;
        }
    & a {
        text-decoration: none;
        color: #2b2b2b;
        font-size: 1rem;
   
}

    &:hover::after{
        transition: all ease-in-out 0.35s;
        width: 100%;
        height: 100%;
        color: #ffffd1;
        border: solid  #1d1d20 2px;
        background-color: #1d1d20;
        opacity: 1;
    }
    &.resume:hover::after{
        border: none;
        box-shadow: 0 0 3px 0 gray;
        background-color:#ffffd1 ;
    }
    &:hover > a{
        z-index: 5;
        color: #ffffd1;
    }
    &.resume:hover > a {
        color: #1d1d20;
    }
}
}