.section__projects{
    background-color: #1d1d20;
    height: auto;
 @media(min-width:320px){
    background-attachment: fixed;
    background-image: url('./app/images/rippleback.png');
    background-size: cover;
     padding: 0;
     display: flex;
     justify-content: flex-start;
 }
 @media(min-width:968px){
     padding: 0 0 5rem 0;
 }
 @media(min-width:1200px){
     margin: 0;
    padding: 2rem 0 4rem 0;

 }
&__wrapper{
@media(min-width:320px){
    display: flex;
    flex-direction: column;
    width: 100%;
}
}
&__header{
    @media(min-width:320px){
        margin:0;
        display: flex;
        color: whitesmoke;
        justify-content: center;
    }
    @media(min-width:450px){
        padding: 3rem 0 3rem 0;
    }
    @media(min-width:768px){
        padding: 3rem 0 3rem 0;
    }
    @media(min-width:900px){
        font-size: 4rem;
        margin:0;
        padding: 3rem 0 3rem 0;
        text-align: center;
        justify-content: center;
    }
    @media(min-width:1200px){
        box-shadow: 0 0 3px 0 gray;
        margin: 0rem 0 5rem 0;
    }
}
&__allprojects{
    @media(min-width:320px){
        padding: 0;
    }
    @media(min-width:968px){
        padding: 3rem 0 0 4rem;
        margin: 1rem 0 1rem 0;
    }
    &.second{
        @media(min-width:320px){

        }
        @media(min-width:768px){
            margin: 5rem 0 3rem 0;

        }
    }

}
}

.project{
    &__one{
        @media(min-width: 320px){
            display: flex;
            flex-direction: column-reverse;
            padding: 0;
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;
        }
        @media(min-width:768px){
            align-items: center;
            justify-content: center;;
            margin: 2rem 0 0rem 0;
        }
        @media(min-width:950px){
            justify-content: flex-start ;
            position: relative;
            flex-direction: row;
            margin: 2rem 0 2rem 0;
            //padding: 3rem 3rem 3rem 3rem;
        }
        
        &__title{
            width: 100%;
            display: flex;
        }
    &__text{
        @media(min-width:320px){
            width:100%;
            position: relative;
            margin: 0;
            border-radius: 0;
            padding:  5rem 0rem 0 2rem;
            background-color: #ffffe3;
            display: flex;
            flex-direction: column;
        }
        @media(min-width:768px){
            border-radius: 0.35rem;
            width: 75%;
        }
        @media(min-width:968px){
            padding: 2.5rem 2rem 1rem 2rem;
            border-radius: 0.55rem;
            z-index: 10;
            width: 55%;
            height: 80%;
            align-items: flex-start;
            justify-content: flex-start;
           }
           @media(min-width:1024px){
               width: 50%;
           }
        //box-shadow: 0 0 4px 0 #141212;
}
    }
&__icon{
    @media(min-width:320px){
        display: flex;
        color:#ffffe3;
        align-items: center;
        padding:  0 2rem 0 0.5rem;
        font-size: 4rem;
    
    }
    @media(min-width:768px){
        font-size: 5rem;

    }
&:hover{
    color: none;
    font-size: 6rem;
}
}
}

.project{
    &__image{
        @media(min-width:320px){
            height: 100%;
            position: relative;
            top: 0;
            width: 100%;
            border-radius: 0;
            display: flex;
            justify-content: flex-start;
            //z-index: 50;
            padding: 0;
            transform: none;
            left: 0;
        }
        @media(min-width:768px){
            width: 60%;
            margin-bottom: -2.5rem;
            margin-left: 2rem;
            box-shadow: 0 0 3px 0 gray;
            border-radius: 0.35rem;
            //transform: translate(-2rem, -5rem) scale(0.85);
            //z-index: 77;
        }
        @media(min-width:968px){
            position: absolute;
            left: 0;
            width: 50%;
            height: auto;
            transform: translate(-3rem, -5rem) scale(1.2);
            transition: all ease-in-out 1s;
            align-items: flex-start;
            opacity: 0;
            z-index:50;
        }
        @media(min-width:1100px){
            width: 40%;
            transform: translate(-3rem, -5rem) scale(1.15);

        }
        &__gif{
            @media(min-width: 320px){
                width: 100%;
                border-radius: 0;
                z-index: 50;
            }
            @media(min-width:960px){
                width: 100%;
                border-radius: 0.35rem;
            }
            //box-shadow: 0 0 3px 0 #1d1d20;
        }
        &__item{
        }
&:hover::after{
    transition: all 0.55s ease-in-out;
    height: 0%;
    background-color: black;
    opacity: 0;
}
}
    &__header{
        @media(min-width:320px){
            color: #2b2b2b;
            font-size: 1.5rem;
            font-weight: 700;

        }
        @media(min-width:768px){
            font-size: 2rem;
            padding: 0.5rem 0.5rem 0.5rem 0;

        }
        &__span{}
        &__title{
            @media(min-width:320px){
                font-weight: 700;
                font-size: 2rem;
                padding: 2rem 0 2rem 0;
                letter-spacing: 2px;
            }
            @media(min-width:768px){
                font-size: 3.4rem;
            }
            @media(min-width:968px){
                font-size:4rem;
                letter-spacing: 2px;
            }
            @media(min-width:1200px){
                font-size: 3.5rem;
                border-bottom: solid #ffffd1 8px;
            }
        &:hover{
            font-size: inherit;
        }
        }
        &__line{
            display: flex;
            height: 0;
            align-self: center;
            flex-grow: 0.75;
            border: solid #2b2b2b;
        }
        &__divider{
            display: flex;
            height: 0;
            align-self: center;
            flex-grow: 1;
            border: solid #ffffe3;
            display: none;
       &.first{
           display: none;
       } }

}
    &__description{
        @media(min-width:320px){
            display: flex;
            flex-wrap: wrap;
        }
        @media(min-width:768px){
            width: 80%;
        }
        @media(min-width:1024px){
            width: 75%;
            flex-wrap: wrap;
        }
        &.almadina{
            display: flex;
            flex-direction: column;
        }
        &__about{
            @media(min-width:1024px){
                width: 75%;
                padding: 0rem 0rem 1rem 0;
            }
        }
        &__container__item{
            display: flex;
            flex-wrap: wrap;
        }
    &__item{
        @media(min-width:320px){
        color: #2b2b2b;
        font-weight: 500;
            margin: 0.25rem 0.15rem 0.15rem 0;
            border-radius: 0.35rem;
            background-color: #2b2b2b;
            color: whitesmoke;
            padding: 0.35rem;
    
        }
        @media(min-width:968px){
            padding: 0.5rem;
            height: auto;
        }
    &:hover{
        background-color: #ffffd1;
        color: #2b2b2b;
    }
}

}
    &__button{
        margin: 1rem 0 1.5rem 0;
        display: flex;
        height: 2.5rem;
        box-shadow: 0 0 4px 0 gray;
        border: none;
        color: #ffffd1;
        width: 7rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
        z-index: 5;
        border-radius: 0.25rem;
        position: relative;
        &.resume{
            margin: 1.5rem 0 1.5rem 0;
            padding: 0.5rem;
            height: 2rem;
            font-size: 0.5rem;
            width: auto;
      }
        
        &::after{
            border-radius: 0.25rem;
            position: absolute;
            top: 0;
            border: none;   
            left:0;
            color: #ffffd1;
            content: "";
            display: flex;
            width: 0;
            height: 80%;
            background-color: whitesmoke;
            opacity:0;
        }
    & a {
        text-decoration: none;
        color: #2b2b2b;
        font-size: 1rem;
   
}

    &:hover::after{
        transition: all ease-in-out 0.35s;
        width: 100%;
        height: 100%;
        color: #ffffd1;
        border: solid  #1d1d20 2px;
        background-color: #1d1d20;
        opacity: 1;
    }
    &.resume:hover::after{
        border: none;
        box-shadow: 0 0 3px 0 gray;
        background-color:#ffffd1 ;
    }
    &:hover > a{
        z-index: 5;
        color: #ffffd1;
    }
    &.resume:hover > a {
        color: #1d1d20;
    }
}
}